table {
  width: 100%;
}

/*mat slide color*/
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(0, 180, 81, 0.52) ;
}

::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color:#00B451;
}

