<div class="sidebar-wrapper bg-blue" style="padding-top: 3em">
  <mat-accordion>
    <div *ngFor="let item of menuItems;let index=index">
      <mat-expansion-panel hideToggle disabled style="margin-top: 10%" *ngIf="index_menu.includes(index,0)==true">
        <mat-expansion-panel-header style="height:6em;background-color: rgb(121 151 196)">
          <mat-panel-title>
            <a class="dropdown-item" [routerLink]="item.path">
              <mat-icon class="icon-cmd">{{item.icon}}</mat-icon>
            </a>

          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>

    <mat-expansion-panel (opened)="panelOpenState = true" class="sidebar-footer"
                         (closed)="panelOpenState = false" hideToggle disabled>
      <mat-expansion-panel-header style="background-color: rgb(121 151 196)">
        <mat-panel-title>
          <a class="nav-link" (click)="logout()" style=" cursor: pointer">
            <p>
              <mat-icon style="vertical-align: middle;bottom:0">exit_to_app</mat-icon>
              se déconnecter
            </p>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
