a {
  color: white;
  text-decoration: none;
}

mat-expansion-panel-header {
  background-color: rgb(92 141 216);
}
mat-panel-title {
  color: white;
}

.logo {
  padding-bottom: 3%;
  background-color: rgb(121 151 196);
}

.bg-blue {
background: rgb(121 151 196);
}

.bg-blue-panel:hover, .bg-blue-panel:focus {
  background: rgb(92 141 190);
}
.mat-expansion-panel {
   background:  rgb(121 151 196);
   box-shadow: none;
}
sidebar{
  background: #fcfcfc !important;
}
.icon-cmd{
  width: 100%;text-align: center;font-size: 6em
}
.dropdown-item{padding: 0!important;}
.sidebar-footer{
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
  list-style-type: none;
}
